@model Home

    <section id="hero" class="d-flex align-items-center" style="padding:300px 0px; margin-bottom:0px">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>@Model.HeroBlock.First().BlockTitle</h1>
                    <h2>@Html.Raw(Model.HeroBlock.First().BlockGeneralInfo)</h2>
                    <div class="d-lg-flex">
                        <a href="#" class="btn-get-started scrollto">@Model.HeroBlock.First().BlockButtonName</a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="@Model.HeroBlock.First().BlockImage.Url()" alt="">
                </div>
            </div>
        </div>
    </section>