@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}

@await Html.PartialAsync("/Views/Partials/Home/_Hero.cshtml")

<main>
    @await Html.PartialAsync("/Views/Partials/Home/_Goals.cshtml")
    @await Html.PartialAsync("/Views/Partials/Home/_TrustedBy.cshtml")
    @await Html.PartialAsync("/Views/Partials/Home/_Motivation.cshtml")
    @await Html.PartialAsync("/Views/Partials/Home/_Steps.cshtml")
    @await Html.PartialAsync("/Views/Partials/Home/_WhyChangeWhatWorks.cshtml")
    @await Html.PartialAsync("/Views/Partials/Home/_ContactUs.cshtml")
</main>

